#heart {
  position: relative;
  width: 70vmin;
  height: 63vmin;
  margin-top: 10px;
}

#heart::before, #heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 36.4vmin;
  height: 70.875vmin;
  border-radius: 50% 50% 0 0;
  background: red;
}

#heart::before {
  left: 52%;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}