@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
  flex-direction: column; 
  font-family: 'Dancing Script', cursive;
  background: rgb(238,174,202);
}

#heart-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
}

footer {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px dotted red;
}

footer input {
  width: 50%;
  margin-left: 2rem;
}

footer ul {
  display: flex;
  gap: 2rem;
  width: 100%;
  overflow-x: auto;
}

footer li {
  flex-shrink: 0;
}


footer img {
  max-height: 3rem;
  width: auto;
  display: block;
  cursor: pointer;
}


/* Way overcomplicated heart */
#heart {
  position: relative;
  width: 70vmin;
  height: 63vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

#heart em {
  margin: auto;
  color: white;
  max-width: 70%;
  font-size: clamp(.8rem, 5vw, 2rem);
  position: relative;
  z-index: 2;
}

#heart::before, 
#heart::after {
  top: 0;
  content: "";
  position: absolute;
  width: 36.4vmin;
  height: 70.875vmin;
  border-radius: 36.4vmin 36.4vmin 0 0;
  background: red;
}

#heart::before {
  left: 52%;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}